site_name: 7 Deadly sins
site_url: https://inkblip.github.io/SinCodeX/
site_author: ingine
theme:
  name: material
  font:
    text: "'Permanent Marker', 'Rock Salt', 'Shadows Into Light', cursive" # Retro punk brush style
    code: "Fira Code, 'Source Code Pro', 'Courier New', monospace" # Modern retro monospace
  palette:
    - scheme: default
      primary: white
      accent: grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.indexes
extra_css:
  - assets/css/custom.css # Link to your custom CSS
extra_head: |
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&family=Yatra+One&family=Averia+Libre:wght@300;400;700&family=Permanent+Marker&family=Rock+Salt&family=Shadows+Into+Light&family=Caveat:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Indie+Flower&family=Overlock:wght@400;700;900&family=Fira+Code:wght@400;500;600;700&display=swap" rel="stylesheet">

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator:
        !!python/name:material.extensions.emoji.to_svg # Page tree


nav:
  - Home:
      - Welcome: index.md
      - Basics: guide.md
      - Guides:
          - War: guides/war.md
      - Tools:
          - TornStats: tools/tornstats.md
          - Discord: tools/discord.md
        # - YATA: tools/yata.md
